flask==3.1.0
flask-cors==5.0.1
flask-sqlalchemy==3.1.1
pymysql==1.1.1
cryptography>=42.0.0
PyJWT==2.10.1
langchain==0.3.26
langchain-core==0.3.71
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-openai==0.3.28
langchain-text-splitters==0.3.8
langchain-experimental==0.3.4
langchain-chroma==1.1.0
llama-index==0.12.51
llama-index-core==0.12.52
llama-index-embeddings-huggingface==0.5.5
llama-index-embeddings-openai==0.3.1
llama-index-llms-openai==0.4.7
chromadb==0.6.3
rank-bm25==0.2.2
python-docx==1.1.2
pypdf==5.1.0
